<!DOCTYPE html>
<html>

<head>
    <title>Trang Web</title>
    <!-- Các thẻ meta, CSS, JavaScript, v.v. -->
</head>

<body>
    <header>
        <!-- Đoạn mã HTML cho phần header -->
    </header>

    <div class="container">
        <%- body %> <!-- Đây là nơi nội dung trang con sẽ được chèn vào -->
    </div>

    <footer>
        <!-- Đoạn mã HTML cho phần footer -->
    </footer>
</body>

</html>